{% extends 'amnic/base.html' %}

{% block content %}

    <div class="team-heading-container text-center ken-shadow mb-3 fixed-top">
        <h3 class="team-heading  py-4">Meet our team!</h3>
    </div>

    <div class="team-container text-center">
        <h3 class="mb-4 team-sub-head">Amnic Exco</h3>
        <div class="d-flex justify-content-center">
            <div class="team-grid mb-5">
                <div class="img1 team-img"><img class="img-team" src="static/amnic/images/team/1.jpg" alt="">
                    <span class="team-text">President</span> 
                </div>
                <div class="img2 team-img"><img class="img-team" src="static/amnic/images/team/2.jpg" alt="">
                    <span class="team-text">V-President</span> 
                </div>
                <div class="img3 team-img"><img class="img-team" src="static/amnic/images/team/3.jpg" alt="">
                    <span class="team-text">Secretary</span> 
                </div>
                <div class="img4 team-img"><img class="img-team" src="static/amnic/images/team/4.jpg" alt="">
                    <span class="team-text">Secretary II</span> 
                </div>
                <div class="img5 team-img"><img class="img-team" src="static/amnic/images/team/5.jpg" alt="">
                    <span class="team-text">S-Director</span>
                </div>
                <div class="img6 team-img"><img class="img-team" src="static/amnic/images/team/6.jpg" alt="">
                    <span class="team-text">PRO I</span> 
                </div>
                <div class="img7 team-img"><img class="img-team" src="static/amnic/images/team/7.jpg" alt="">
                    <span class="team-text">PRO II</span> 
                </div>
                <div class="img8 team-img"><img class="img-team" src="static/amnic/images/team/8.jpg" alt="">
                    <span class="team-text">Treasurer</span> 
                </div>
                <div class="invisible team-img"><img class="img-team" src="static/amnic/images/team/8.jpg" alt=""></div>
                <div class="img9 team-img"><img class="img-team" src="static/amnic/images/team/9.jpg" alt="">
                    <span class="team-text">Financial Sec</span> 
                </div>
                <div class="img11 team-img"><img class="img-team" src="static/amnic/images/team/10.jpg" alt="">
                    <span class="team-text">Another</span> 
                </div>
                <div class="invisible team-img"><img class="img-team" src="static/amnic/images/team/8.jpg" alt=""></div>
            </div>
        </div>
        <hr class="w-100 ken-border">

        
        <h3 class="mb-3 team-sub-head">Amnic members</h3>
        <div class="member-grid">
            <div class="img1 member-img"><img class="img-member" src="static/amnic/images/team/1.jpg" alt=""></div>
            <div class="img2 member-img"><img class="img-member" src="static/amnic/images/team/2.jpg" alt=""></div>
            <div class="img3 member-img"><img class="img-member" src="static/amnic/images/team/3.jpg" alt=""></div>
            <div class="img4 member-img"><img class="img-member" src="static/amnic/images/team/4.jpg" alt=""></div>
            <div class="img5 member-img"><img class="img-member" src="static/amnic/images/team/5.jpg" alt=""></div>
            <div class="img6 member-img"><img class="img-member" src="static/amnic/images/team/6.jpg" alt=""></div>
            <div class="img7 member-img"><img class="img-member" src="static/amnic/images/team/7.jpg" alt=""></div>
            <div class="img8 member-img"><img class="img-member" src="static/amnic/images/team/8.jpg" alt=""></div>
            <div class="member-img"><img class="img-member" src="static/amnic/images/team/8.jpg" alt=""></div>
            <div class="img9 member-img"><img class="img-member" src="static/amnic/images/team/9.jpg" alt=""></div>
            <div class="img11 member-img"><img class="img-member" src="static/amnic/images/team/10.jpg" alt=""></div>
            <div class="member-img"><img class="img-member" src="static/amnic/images/team/8.jpg" alt=""></div>
        </div> 
    </div>  
    
{% endblock %}